n8n-weekly-report-graphs.json
{
  "name": "Weekly Report with Graphs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "cron-trigger-weekly",
      "name": "Every Monday 8:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        240
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:5000/api/webhooks/weekly-report",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0ZjBhZTAxNi1kNDRjLTQ1ZWUtOTI4NC0xNzBkM2M0OTliYTUiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiODIyNjA2ZTgtZWYyZS00NmIxLTk4NTgtOTI0ZmJjZjBhODRjIiwiaWF0IjoxNzgyMzY4NDIzfQ.o8gvsC0SFv0MT9Glw_i4D8omUKhrxVsJL_qIm1C-a70"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-backend",
      "name": "Get Report Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json;\n\n// Prepare data for Leave Types Pie Chart\nconst pieLabels = Object.keys(data.byLeaveType);\nconst pieDataValues = Object.values(data.byLeaveType);\n\nconst pieChartConfig = {\n  type: 'pie',\n  data: {\n    labels: pieLabels,\n    datasets: [{\n      data: pieDataValues,\n      backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF']\n    }]\n  }\n};\n\nconst pieChartUrl = \"https://quickchart.io/chart?c=\" + encodeURIComponent(JSON.stringify(pieChartConfig));\n\n// Prepare data for Department Bar Chart\nconst barLabels = Object.keys(data.byDepartment);\nconst barDataValues = Object.values(data.byDepartment);\n\nconst barChartConfig = {\n  type: 'bar',\n  data: {\n    labels: barLabels,\n    datasets: [{\n      label: 'คำขอลาตามแผนก (รายการ)',\n      data: barDataValues,\n      backgroundColor: '#36A2EB'\n    }]\n  }\n};\n\nconst barChartUrl = \"https://quickchart.io/chart?c=\" + encodeURIComponent(JSON.stringify(barChartConfig));\n\nreturn {\n  json: {\n    ...data,\n    pieChartUrl,\n    barChartUrl\n  }\n};"
      },
      "id": "code-generate-charts",
      "name": "Generate Charts URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        240
      ]
    },
    {
      "parameters": {
        "sendTo": "leavemanagementbru@gmail.com",
        "subject": "=📊 รายงานสรุปการลาประจำสัปดาห์ พร้อมกราฟ ({{ $json.weekRange.start }} - {{ $json.weekRange.end }})",
        "emailFormat": "html",
        "html": "=<div style=\"font-family: sans-serif; max-width: 800px; margin: 0 auto; background: #f5f5f5; padding: 20px;\">\n  <div style=\"background: linear-gradient(135deg, #667eea, #764ba2); padding: 25px; border-radius: 15px 15px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 24px;\">📊 รายงานสรุปการลาประจำสัปดาห์</h1>\n    <p style=\"color: rgba(255,255,255,0.9); margin: 10px 0 0 0;\">{{ $json.weekRange.start }} - {{ $json.weekRange.end }}</p>\n  </div>\n  \n  <div style=\"background: white; padding: 25px; border-radius: 0 0 15px 15px; box-shadow: 0 4px 20px rgba(0,0,0,0.1);\">\n    \n    <h2 style=\"color: #667eea; border-bottom: 2px solid #667eea; padding-bottom: 10px;\">📈 สถิติภาพรวม</h2>\n    <p>📝 คำขอทั้งหมด: <strong>{{ $json.statistics.totalRequests }}</strong></p>\n    <p>✅ อนุมัติแล้ว: <strong style=\"color: #10b981;\">{{ $json.statistics.approved }}</strong></p>\n    <p>⏳ รออนุมัติ: <strong style=\"color: #f59e0b;\">{{ $json.statistics.pending }}</strong></p>\n    <p>❌ ไม่อนุมัติ: <strong style=\"color: #ef4444;\">{{ $json.statistics.rejected }}</strong></p>\n    \n    <h2 style=\"color: #667eea; border-bottom: 2px solid #667eea; padding-bottom: 10px; margin-top: 30px;\">🥧 สัดส่วนประเภทการลา</h2>\n    <div style=\"text-align: center;\">\n      <img src=\"{{ $json.pieChartUrl }}\" alt=\"Pie Chart\" style=\"max-width: 100%; height: auto; max-height: 400px;\" />\n    </div>\n    \n    <h2 style=\"color: #667eea; border-bottom: 2px solid #667eea; padding-bottom: 10px; margin-top: 30px;\">📊 คำขอลาตามแผนก</h2>\n    <div style=\"text-align: center;\">\n      <img src=\"{{ $json.barChartUrl }}\" alt=\"Bar Chart\" style=\"max-width: 100%; height: auto; max-height: 400px;\" />\n    </div>\n    \n    <div style=\"margin-top: 40px; text-align: center;\">\n      <a href=\"http://localhost:5173/reports\" style=\"background: linear-gradient(135deg, #667eea, #764ba2); color: white; padding: 12px 30px; text-decoration: none; border-radius: 25px; font-weight: bold; display: inline-block;\">📊 ดูรายงานเต็มในระบบ</a>\n    </div>\n  </div>\n</div>"
      },
      "id": "send-email-report",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        840,
        240
      ]
    }
  ],
  "connections": {
    "Every Monday 8:00 AM": {
      "main": [
        [
          {
            "node": "Get Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Report Data": {
      "main": [
        [
          {
            "node": "Generate Charts URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Charts URL": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}